/ start l-contents
.l-container.u-clear
  / start l-main
  %main.l-main.js-main
    .l-main-block
    %a.l-main-button{:href => "#"}
      .button
        %p.button-text New Article
    %ul.archive.archive-admin
      %li.archive-item
        %a.post-article{:href => "#"}
          %time.post-article-date{:datetime => "2016-9-16"} 16 Sep, 2016
          %h1.post-article-title The Best Wii U Games of 2016
      %li.archive-item
        %a.post-article{:href => "#"}
          %time.post-article-date{:datetime => "2016-9-16"} 16 Sep, 2016
          %h1.post-article-title VOTING FOR THE PEOPLE'S CHOICE BEST WII U GAME OF 2016!
      %li.archive-item
        %a.post-article{:href => "#"}
          %time.post-article-date{:datetime => "2016-9-16"} 16 Sep, 2016
          %h1.post-article-title Gears of War film to rise like a Fenix thanksto Universal
      %li.archive-item
        %a.post-article{:href => "#"}
          %time.post-article-date{:datetime => "2016-9-16"} 16 Sep, 2016
          %h1.post-article-title Trailer Roundup - October 5, 2016
      %li.archive-item
        %a.post-article{:href => "#"}
          %time.post-article-date{:datetime => "2016-9-16"} 16 Sep, 2016
          %h1.post-article-title PlayStation VR: A Hardcore Console Gamer’s Perspective
  / end l-main
/ end l-contents
