%header.l-header.js-header
  .l-header-top.u-clear
    .l-header-logo
      %a{href: articles_path}
        .logo
          %img{:alt => "BLOG", :height => "28", :src => asset_path("logo.png"), :width => "253"}/
    .l-header-hamburger
      %a.hamburger.js-hamburger{:href => "#"}
        %span.hamburger-item
        %span.hamburger-item
        %span.hamburger-item
