%nav.nav.js-nav
  %ul.nav-list
    %li.nav-item
      %a.nav-link{:href => root_path} TOP
    %li.nav-item
      %a.nav-link{:href => "https://www.facebook.com/facebook/", :target => "_blank"} Facebook
    %li.nav-item
      %a.nav-link{:href => "https://twitter.com/twitter", :target => "_blank"} Twitter
