/ start l-contents
.l-container.u-clear
  / start l-main
  %main.l-main.js-main
    .l-main-block
    .archive
      %ul.archive-list
        - @articles.each do |article|
          %li.archive-item
            %article.card
              %a.card-link{:href => article_path(article.id)}
                %img.card-image{:alt => "", :src => asset_path("sample1.jpg")}/
                .card-bottom
                  %h1.card-title= article.title
                  %time.card-date{:datetime => article.created_at.strftime('%F')}
                    = article.created_at.strftime("%d %b, %Y")
    - if @articles.count > 5
      %a.archive-button{:href => "#"}
        .button
          %p.button-text More
  / end l-main
/ end l-contents


/ footer ここから
= render partial: "/articles/partials/footer"
/ footer ここまで
