%body
  %header.l-header.l-header-admin.js-header
    .l-header-top.u-clear
      .l-header-logo
        %a.logo{:href => root_path}
          %img{:alt => "BLOG", :height => "28", :src => asset_path("logo-admin.png"), :width => "138"}/
      .l-header-text
        %p ADMIN PAGE
